<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ASCII Art</title>
</head>
<body>
<pre>
    ..&&x;+x+;:;;..............+...........................................................................................;x.......
    ..&&&&&$$$XXX$&XxxX:x&:.....$&&$+;;;;;;;::+;;..;::...:............:..:;........;;...:x..:........:::::...:;+;+++X&&&&$......xX$.
    ..&&&&&$$$$$XXXXXXx&X&$;..:....&&&$+X+xxx+x$x;++++++;;;;;;+;:.......:..;xxx++++:.::x...;.:;;;;;;:......:+;.+&&&&X.........x&$;x.
    ..&&&&&:+X$&$$$XXXX&X&$$;.:......&&&&X$$XX+$x+&$$X$&&&&&&&&&&XxxX&&&$x+XXx+x+xxxx$&:.X+++xXx+++;;+xxXX&&&&&&+............+&Xx$&.
    ..&&&&$+X$&&&&$$&$$$$$..++..$+......&&+;X&x&;xX+X&x...........+..........::..::+$;..+;;;.:+.&:++$x$&&&X...............;X&$$XxX&.
    ..&.x&;+xX$$$XxXXxx++&&:.....:+:.......$...........................................+:.+&x;;.$;;X&$:................:x::+x+;;;;X.
    ..&.::;xxXXXXxxXXXXXXx+.x&$....;................................................................................+X++;+++;+;++xx.
    ..&;x+xxxxXXXx+Xxxxxx+x&x;x++X;+.......................................................................Xx.;.+;X;....:;;;;;:;;xx.
    ..&.+++xxxxxxxxxx+++++;++;+:....X...:.................................................................;::x+x$+++;;;;;;;:;;;;;:;.
    ..&.;+xx++Xxx++++++++;;;:.:...+X...;..............................................................+:;+.....;..::....::::::::;:;.
    ..&:++xXxXxxxxxxxx++x++x+;+x&&$$.........................................................+.;x&+&+.++..;&&&&;:..:..:;;:::::.:::x.
    ..&X&x;;xXx+++++;;;++;;:;x$;.................................................................+$;x;.:$$+......:..............:.:.
    ..&.....:;:;:.;::+x.......;.....................+x..::...........................................X&&x++X&$;.............::.::.:.
    ..&:++;:+;..............+;................;+xx+:................;+Xx+:.;&Xx&XX+:...............;X&&&$XXX$:....................;.
    ..&&&&&&&&&&&&&&&&&&&&&&+........xxxXX$++..;&&&&x.............XXXxX$&&&x...............;++.........x$&&&&&.......:..............
    ..&$&&&&&&&XXx+:++x.X+&&.....:$X:.:...........:;;....;.....X$$&xX$$Xx;...................;;;xx....+&&&&$$&x.....................
    ..&+XX$&&&&&&&&&&&&x&X+.....:;.:+XxX&&&X&&&&+..;:+$X:....+;;;XxX$&+...$&&&&&&&x..........;$:::;+....&&&&XX&.....................
    ..&&&&Xx......$&&&&&&&&....+&&&&&&&&&&&&&&.&&&...:;;+$::.............x&&&&&&&&&&&&&;.xxxx:.....:;.....$&&&&.....................
    ..&......x&;.$&&&&&&&&.....:$&$x+$&&&&&&&&&&&&&+.::+Xx+;............&&&&&&&.&&&&&&&&&&&+;:..:....:..............................
    ..&......;+$&&&&&&&&x......+xX...&&&&&&&X.&&&&&X..:;++;:....:::....x&.&&&&&.&&&&&&X;...:;::.....:::........&&...................
    ..&.;:......&&&&&&&&&+.....;X&:..x&&&&&&&&&&..&&Xx;.+::::....;:....&&.&..&&&&&&&&x...+$;;;+..:;;;+;++.......$&:.................
    ..&........+&&&&&&&&&$....:$&&&..+x&&&&&&&&&&&&$:...::.....::;:..;+&&&&&&&...&&&:....X&XX+.;;;:...:;::.......:$.................
    ..&&&&&&&&&&&&&&&&&&&+..:.:x$&&&$...:&&&&&Xx.;..;..;:++;;;;;;.:....x$X$x$x&&&&::..+&&&&XXx+xx+;+++;;+++;:.:;:.X+................
    ..&&&&&&&&.$&&&&&&&&&..;..;;;X&X&&&&...........x;.:+;;;;;;;:::;:...............&&&&&&$x:;x$++++:::::;;;:::.....&$x..............
    ..&$&&&&&..&&&&&&&&&&..+XX$X;..:;+.;+::............+x;;:;::...:..:........:&&&XXX&$XxX&&$X+;;;;.::;;+;+++++++;.X&$........:;;+..
    ..;.......X&&&&&&&&&&...x;;+xX+...................;$$++++;;::;+;..................:..+&$x+;:;:;;;+;;;;;:;;;;;::x$x+.............
    ..&.......&&&&&&&&&&&&..+x;:..+X&$X:..........:::;+$$XXXX$$Xx++:....:.....:.:+:;+$&&$+:...:;;;;++++;;;;::;;;;;xXx+$X............
    .........:&&&&&&&&&&&&&..+:..;+;:;xXxx++;:..:....:&&&$X;+x:;+$&$x:.;..;;+..:.....::....:::;::;;;;;;;;:::;++;:;Xx+;xX&$..........
    ..&&X+;..&&&&&&&&&&&&&X.;&&&$xx+;;;;:+:+xX$$&&Xx+x&&&&x..x:;$&&X&+.xxX$x+;:++++X++;;++;::;;:;;;+++++;;;::;+;:+;;+x+;x$+.........
    ..&&&&&:.&&&&&&&&&&&&&&x:$++xX&&$&XxX&XXX+:...:;;x&&x&&$&&&&X.Xx$..+++++$x;xx;:+;;:..:;.:+:;;;;;;;:;;;+++++;:;+;;+$$X&&.........
    ..&$&&&.x&&&&&&&&&&&+&+..+:....:xx+$&&+x++x$&&&$x.:;X+&&&&&XX+&xx&&&XXXXX+;x+$&X++;..:++X$+;;;;+;;;;;;;;::;;:;xxxxx+++x&+.......
    ..x.....&&&&&&&&&&&&&&&..X$&$$$xXXX&$&$&;$Xx;:;;;+++&X&xx&X+$.Xx:..:::;+x+;X++xx;;;xx.....;+++;;;;:..:;++;;:.;xxxxxxxxx$&+......
    ..&;+..X&&&&&&&&&&&&&&&&........:;;X;x&&XX+XXXXxx$&&$+$X$&&&&&XxxXX$XX++x+;xx+;:+x+xx+x&&&X:...++++++xx+;:;+;+x+xxxxxxx;+$+.....
    ..&....&&&&&&&&&&&&&&&....x:X&;:+x;&xXx+$&$+xX$$$$$$$&&&&&&&&&&&&&&&$$XXxXX$x+:...xxXx+X+...x&x....;;++;:;;:;++++x++++x++x;.....
    ..&....&&&&&&&&&&&&.+&&&+.::..;X$:.;:+x;+$&&&XXXXXX$$&XX&;+$&&$&&XXX$$$$XX;:;;++X;..::::;xXX;..xxx;::++;.:;;+X+++xxx++++;xx.....
    ..&...&&&&&&&&&&..&&&&.&:...x++:+x+++;x+xxxxX&$$&&&X;+xxx+;;x+;x$xX$X;++..::.+x$&&x..:..:;...++...;x:.:::..;x++++;++xxx+++xX;...
    ..&...&&&&&&&&X&&&&&..X.&......+:;;;;:xxXXXxXX+xX+;+xxxxx+x;.xx::+++:.:+++;:;x:..:$$X+++..:Xx+;+x;..;x;.:+xXX;;xxX$Xx;;;;:;x;...
    ..$...&&&&&&&&&&&:&..&&&&&&X....:+;;;;x;;+xxxX$X$XXXxxxxxxXXXXXXxx++X$X$+xxXxxX$;....+XXX&+..:;;;;+x..;++xxxxXXXxXx;:;++;;;:++..
    ..X..&&&&&&;&&&&&X&$&&&&&&&&&:....::;;+:;;;;;++++x+++xxxx+++;++++xx+++++;+;+::;;+Xx;.;...XXx+:.:;;;;:;::;x+++xxx+x+::;++;:+++;;.
    ..+..&&&&&&&&&&&&&x&&&&&&&&&&&x...::;;;++++++++++xxx+++;;xx++xxx++++++x+++++::::.;x$Xx++X:.+Xxx:.;+xx+;;+xx+++xxxxx++;.:+x+::xx.
    ..;.+&&&&&&&&&&&&&&&&&&&&&&&&&&X...:;;..:;;;;;;;;;;;:xx++++;::::;+;;;;;:;;;:+;;+x+:::;x:;;xX..xX+;..:+XXxx+xxX++++++;;++::..+XX.
    ....&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&+X+:+;+;;;;+x++x++++;;+:;;+X+;..:::::::.::++;;;;;++++;;;::xX:..+++++XX$X+x$x+x++;;;;:..::;;+$.
    ....&&&&&&&&&&&&&X&&&&&&&&&&&&&&&&..;$+;:;;;;;+;;:;;:::;;:::;;;+;:;;+++;++xx;;;;++++;+++;;:x:.+xx:.x&x+xXxx+;+Xx++;++;;..::::+$.
    ...&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&.....++;:;;:;;;+;:::x:.;.;;.::;;+;;++++x++x++++;;;++;:..:;.;x;:+X$x;+xxxxXx;+Xxxx++;;;:;+;;+X$.
    ..;&&&&&&&&&&&&&&&&&&&&&&&&&&&&&X.......;:::::::;;;;;x:.;:;;.::::;;;;;;;;;;;:;;+++;;:;;;;;++:;+XxxXX$X++x++xX++xx+x+;;:.:+;:;X$.
    ..&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&:.......:.::::;;;::;;;::;:++:.:;;;;;;;;;::;;::::..:..:++++x++++$&&XX$$$+;xxxxx+x+++++;::...::.+.
    ..&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&:.....::;::;;;::;:::;;;;;+::+x+;:;;;;;;;.::;++++;+;;;:.;+xXXxXx:+Xx;;;+X$x++++xx+++;::;;;..;+;+.
    ..&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&................................................................................................
</pre>
</body>
</html>